<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    input,
    select {
      margin-left: 10px;
    }
  </style>
</head>

<body>
  <div id="app">
    <form @submit="checkForm" action="/something" method="post">
      <p>
        <label for="name">用户名<label>
        <input type="text" name="name" id="name" v-model="form.name" placeholder="请输入用户名">
        <p v-if="errors.name">{{ errors.name }}</p>
      </p>

      <p>
        <label for="passwd">密码<label>
        <input type="password" name="passwd" id="passwd" v-model="form.passwd" placeholder="请输入密码">
        <p v-if="errors.passwd">{{ errors.passwd }}</p>
      </p>

      <p>
        <input type="submit" value="提交">
      </p>

    </form>

  </div>
  <script src="../dist/validator.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
  <script>
    const validatorPlugin = {
      install(Vue) {
        const proto = Vue.prototype
        const validator = new Validator({
          formatError: e => {
            console.log(e)
            return e.message
          }
        })
        proto.validator = validator
        proto.validate = validator.validate.bind(validator)
      }
    }

    Vue.use(validatorPlugin)

    const app = new Vue({
      el: '#app',
      data: {
        form: {
          name: null,
          passwd: null,
          movie: null,
        },
        rules: {
          name: [
            { required: true, message: '用户名必填' },
          ],
          passwd: [
            { required: true,  message: '密码必填' },
            { min: 6, max: 10, message: '长度要在6到10位' }
          ]
        },
        errors: {}
      },
      methods: {
        checkForm: function (e) {
          const errors = this.validate(this.form, this.rules)
          if (errors) {
            this.errors = errors
          } else {
            return true
          }
          e.preventDefault();
        }
      }
    })
  </script>
</body>

</html>
