<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    input,
    select {
      margin-left: 10px;
    }
  </style>
</head>

<body>
  <div id="app">
    <form @submit="checkForm" method="POST">
      <p>
        <label for="name">用户名<label>
        <input type="text" name="name" id="name" v-model="form.name" placeholder="请输入用户名">
        <p v-if="errors.name">{{ errors.name }}</p>
      </p>

      <p>
        <label for="passwd">密码<label>
        <input type="password" name="passwd" id="passwd" v-model="form.passwd" placeholder="请输入密码" autocomplete>
        <p v-if="errors.passwd">{{ errors.passwd }}</p>
      </p>

      <p>
        <input type="submit" value="提交">
      </p>

    </form>

  </div>
  <script src="../dist/validator.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
  <script>
    const validatorPlugin = {
      install(Vue) {
        const proto = Vue.prototype
        const validator = new Validator({
          formatError: e => {
            console.log(e)
            return e.message
          }
        })
        proto.validator = validator
        proto.validate = validator.validate.bind(validator)
      }
    }

    Vue.use(validatorPlugin)

    const app = new Vue({
      el: '#app',
      data: {
        form: {
          name: null,
          passwd: null,
          movie: null,
        },
        rules: {
          name: [
            { required: true, message: '用户名必填' },
          ],
          passwd: [
            { required: true,  message: '密码必填' },
            { min: 6, max: 10, message: '长度要在6到10位' },
            {
              custom(value) {
                return new Promise((resolve, reject) => {
                  setTimeout(() => {
                    if (value === '12345678') {
                      return resolve(true)
                    }
                    return reject('它的值必须是12345678')
                  }, 100)
                })
              }
            }
          ]
        },
        errors: {}
      },
      methods: {
        async checkForm (e) {
          // 在异步的情况下必须先调用e.preventDefault()
          // 否则, 在 await 之后, 这个提交表单的事件已经发生完了( has completed ), 那时候再调用 e.preventDefault() 已经没用了
          // 所以, 真正地提交表单的数据, 还是要自己去提交 :(
          // https://stackoverflow.com/questions/37146302/event-preventdefault-in-async-functions
          // https://cn.vuejs.org/v2/cookbook/form-validation.html
          e.preventDefault()
          const errors = await this.validate(this.form, this.rules)
          if (errors) {
            return this.errors = errors
          }
          // 在下面发请求提交表单...
          console.log('校验通过')
        }
      }
    })
  </script>
</body>

</html>
